{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PARETO - Dashboard Perlintasan</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static "css/the-big-picture.css" %}" rel="stylesheet">

  <!-- Gfonts -->
  <link href="{% static "css/fonts.css" %}" rel="stylesheet">

</head>

<body onload="waktu()">
  <!-- Navigation Bar Top-->
  <div class="margin-content">
    <header class="bg-dark fixed-top">
      <div class="py-2"></div>
      <div class="text-center text-white font-weight-bold">
        <h3 class="font-bold">SELAMAT DATANG</h3>
      </div>
      <div class="text-center text-white">
        <h5>DAOP 1 Jakarta - Perlintasan No. 12 FH UI Beji, Depok</h5>
      </div>
    </header>
  </div>

  <!-- Page Content -->
  <section>
    <div class="row" style="margin-top: 15%;">
      <div class="card" style="width: 100%;">
        <div class="card-body text-center">
          <h2 class="card-title font-bold">Waktu dan Tanggal </h2>
          <h3 class="card-text" id="tanggaljam"></h3>
        </div>
      </div>
    </div>
    <br>
    <div class="row text-center">
      <div class="card" style="width: 100%;">
          <div class="row no-gutters">
              <div class="card-body">
                <h3 class="card-title font-bold">Peringatan:</h3>
                <h3 class="card-text font-countdown-txt" id="countdown"></h3>
                <h1 class="card-text text-danger font-countdown" id="detik"></h1>
              </div>
          </div>
      </div>
    </div>  
  </section>

  <!-- EOF Page Content -->

  <!-- Footer -->
  <footer class="bg-dark fixed-bottom">

    <!-- Bottom Text -->
    <div class="text-center text-white py-3">
      <h4 class="font-bold" id="pesan">
        
        </h5>
    </div>
    <!-- Bottom Text -->

  </footer>
  <!-- Footer -->

  <!-- Bootstrap core JavaScript -->
  <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static 'script/jam.js' %}"></script>

</body>

</html>