/*!
 * Start Bootstrap - The Big Picture (https://startbootstrap.com/template-overviews/the-big-picture)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-the-big-picture/blob/master/LICENSE)
 */
body {
  background: url('/static/img/737373.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: 'Montserrat', sans-serif;
  min-width: 100%;
}

.font-bold{
  font-weight: 700 !important
}

.font-countdown-txt{
  font-size: 5vh;
}

.font-countdown{
  font-size: 14vh;
}

.margin-content{
  margin-bottom: 8%
}

.row{
  margin-right: 1%;
  margin-left: 1%;
}

.card-deck{
  margin-top: 1%;
  margin-right: 2%;
  margin-left: 2%;
}